body {
    text-align: center;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #EAF6F6;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 130px;
    position: relative;

}

.heading {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #66BFBF;
    font-size: 4rem;
}

.motto {
    margin-top: 60px;
    color:gold;
}

.a-image {
    width: 25%;
}

.shooting-stars1 {
    position: absolute;
    width: 10%;
    top: 350px;
    right: 250px;
}

.shooting-stars2 {
    position: absolute;
    width: 10%;
    left: 250px;
}

.second-container {
    padding-top: 50px;
    text-align: left;
    padding-bottom: 300px;
}

.quality-image {
    width: 20%;
    float: left;
    margin-left: 250px;
    margin-right: 50px;
}

.quality-description {

}

.third-container {
    background-color: #EAF6F6;
    text-align:left;
    padding-top: 50px;
    padding-bottom: 400px;
}

.materials-image {
    width: 20%;
    float: left;
    margin-left: 250px;
    margin-right: 50px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 60px;
    margin-top: 100px;
    line-height: 3;

}

.contact-me-container {
    padding-top: 60px;
    line-height: 3;
}

.btn {
  background: #97fafc;
  background-image: -webkit-linear-gradient(top, #97fafc, #4ff7e3);
  background-image: -moz-linear-gradient(top, #97fafc, #4ff7e3);
  background-image: -ms-linear-gradient(top, #97fafc, #4ff7e3);
  background-image: -o-linear-gradient(top, #97fafc, #4ff7e3);
  background-image: linear-gradient(to bottom, #97fafc, #4ff7e3);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #91fffd 1px;
  text-decoration: none;
}

.btn:hover {
  background: #7ed9de;
  background-image: -webkit-linear-gradient(top, #7ed9de, #3498db);
  background-image: -moz-linear-gradient(top, #7ed9de, #3498db);
  background-image: -ms-linear-gradient(top, #7ed9de, #3498db);
  background-image: -o-linear-gradient(top, #7ed9de, #3498db);
  background-image: linear-gradient(to bottom, #7ed9de, #3498db);
  text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.qna-container {
    position: fixed;
    right: 50px;
    top: 625px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px
}

.rates-border{
    background-color: #bae8e8;
    padding: 100px;
}
.rates {
    background-color: white;
    line-height: 4;
    border: solid;
    margin: 50px;
}
.rates-table {
    width: 100%;
}

.rates-heading {
    background-color: white;
    line-height: 4;
    border: solid;
    margin: 50px;
}

.rates-heading-table {
        margin: auto;
}
